 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="about-primary">
                </div>
            </div>
            <p>Full Stack Developer with skills in Python, JavaScript, React, Ruby, and Ruby on Rails.</p>
            <p>Graduated with a B.S. in Computer Science from University at Buffalo and Full-Stack Web Development from Flatiron School.</p>
        </div>
    </section>
